/* About.css */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  min-height: 89vh;
}

.name {
  text-align: center;
  font-size: 5rem;
  max-width: 1100px;
  margin-top: 7rem;
  margin-bottom: 3rem; /* Adjust margin to be more reasonable */
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  line-height: 1.2;
  position: relative;
  cursor: pointer;
}

.name::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background: linear-gradient(90deg, #000000d2, #1FB994);
  margin: 0.5rem auto 0;
  border-radius: 5px;
}

.name:hover {
  transform: scale(1.03);
  transition: all 0.4s ease-in-out;

}

.about-text {
  font-size: 2.5rem;
  background: linear-gradient(90deg, #5b5757, #000000d2);
  background-clip: text;
  font-weight: bold;
  margin-bottom: 24px;
}

.about-details {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  max-width: 1000px;
  text-align: center;
}

.about-details:hover{
  transition: all 0.4s ease-in-out;
}

.about-lright{
  margin-top: 280px;
}

/* For tablets and small laptops (max-width: 1200px) */
@media screen and (max-width: 1200px) {
  .name {
    font-size: 4rem; /* Adjust heading font size */
    margin-top: 4rem; /* Adjust top margin */
    margin-bottom: 3rem; /* Adjust bottom margin */
  }

  .about-text {
    font-size: 2rem; /* Adjust text font size */
    margin-bottom: 20px; /* Reduce margin */
  }

  .about-details {
    font-size: 1.2rem; /* Adjust details font size */
    padding: 0 20px; /* Add padding for smaller screens */
  }
  
  .about-lright {
    margin-top: 400px; /* Adjust top margin */
  }
}

/* For tablets and larger phones (max-width: 768px) */
@media screen and (max-width: 768px) {
  .name {
    font-size: 3.5rem; /* Reduce font size */
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .about-text {
    font-size: 1.8rem; /* Reduce text font size */
  }

  .about-details {
    font-size: 1.1rem; /* Reduce font size further */
    line-height: 1.6; /* Adjust line height for better readability */
  }

  .about-lright {
    margin-top: 400px; /* Adjust top margin further */
  }
}

/* For smaller phones (max-width: 480px) */
@media screen and (max-width: 480px) {
  .name {
    font-size: 1.5rem; /* Further reduce heading font size */
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .about-text {
    font-size: 1.5rem; /* Further reduce text font size */
    margin-bottom: 15px;
  }

  .about-details {
    font-size: 1rem; /* Adjust details font size */
    padding: 0 10px; /* Add more padding for very small screens */
  }

  .about-lright {
    margin-top: 400px; /* Adjust top margin for smaller screens */
  }
}
